/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#/src/test/

account.properties
.gradle/6.5.1/executionHistory/executionHistory.bin
.gradle/6.5.1/executionHistory/executionHistory.lock
.gradle/6.5.1/fileHashes/fileHashes.bin
.gradle/6.5.1/fileHashes/fileHashes.lock
.gradle/6.5.1/javaCompile/classAnalysis.bin
.gradle/6.5.1/javaCompile/javaCompile.lock
.gradle/6.5.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
bin/
